<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blogpost listing</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/omatyyli.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>
<!--Tämä sivu on julkinen ja näkyy kaikille blogia lukeville.
Tälle sivulle tulee listaus postausten otsikoista, otsikot muutetaan linkeiksi/painikkeiksi, 
josta pääsee lukemaan koko postauksen
taulukon otsikot tulevat olemaan: Otsikko, Päivämäärä, Avainsanat/aiheet
Tälle sivulle tulee myös hakutoiminto, haun perusteella voi hakea postauksia avainsanojen, otsikon, tai päivämäärän perusteella-->
<body class="ml-4 mt-4">
    <h1>Kaikkien blogipostausten otsikot</h1>
    <h3>Otsikkoa klikkaamalla pääset lukemaan koko postauksen!</h3>
    <table class="table table-striped">
        <!--Otsikkorivi-->
        <tr>
            <th>Otsikko</th>
            <th>Päivämäärä</th>
            <th>Avainsanat</th>
        </tr>
        <!--Postausten tiedot-->
                <tr th:each = "postaus : ${postaukset}">
                <td><a th:text="${postaus.title}" th:href="@{/post/{id}(id=${postaus.postId})}"></a>
                </td>
            <td th:text="${postaus.postDate}"></td>
            <td>
                <ul id="list-keyword">
                    <li  th:each="keyword : ${postaus.keywords}" th:text="${keyword.strKeyword} + ' ' "></li>
                </ul>
            </td>
        </tr>
    </table>  
</body>
</html>